In [1]:
import numpy as np
import pandas as pd

In [12]:
from refractio import snowflake
snowflake.get_connection(connection_name="HR_ANALYTICS_17")

Exception occurred in getting snowflake connection: 'connectionSources'

In [13]:
df = snowflake.get_dataframe("HR_ANALYTICS_17")
df

,SALARY,SENIORITY,TENURE_MONTHS,MONTHS_AFTER_COLLEGE,BIRTH_YEAR,MAPPED_ROLE_CLEAN,SEX,ETHNICITY,HOSPITAL_TYPE,HOSPITAL_OWNERSHIP,...,CITY,STATE,DISTANCE,DEGREE_CLEAN,SCHOOL_ENDDATE,JOB_STARTDATE,JOB_ENDDATE,USER_ID,OVERTIME_HOURS,CHURN
0,37806.93,1,88,3,1983,social,F,White,Psychiatric,Voluntary non-profit - Private,...,Orlando,FL,<2 miles,Masters Degree,2008-01-31,2008-04-01,2015-10-01,870835513,14,False
1,39922.66,1,7,13,1995,nurse,F,White,Acute Care Hospitals,Proprietary,...,Modesto,CA,<2 miles,Bachelors Degree,2020-01-01,2021-02-01,2021-10-01,18255040,10,True
2,29633.85,1,25,11,1991,nurse,F,White,Acute Care Hospitals,Voluntary non-profit - Church,...,Rochester,MN,<2 miles,Other,2015-01-01,2015-12-01,None,813877070,3,False
3,28482.50,1,9,19,1986,nurse,F,Black,Acute Care Hospitals,Voluntary non-profit - Private,...,Tampa,FL,5-10 miles,Bachelors Degree,2011-01-01,2012-08-01,2013-06-01,291350804,1,False
4,67760.97,1,34,60,1989,emt,M,Multiple,Acute Care Hospitals,Voluntary non-profit - Church,...,Killeen,TX,2-5 miles,Professional Certificate,2013-01-01,2018-01-01,None,580541228,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5361,68221.03,3,8,116,1984,nurse,F,White,Acute Care Hospitals,Voluntary non-profit - Church,...,Rochester,MN,>10 miles,Masters Degree,2011-01-31,2020-09-01,2021-06-01,59566748,8,True
5362,25545.22,1,32,150,1973,nurse,M,White,Acute Care Hospitals,Physician,...,Phoenix,AZ,2-5 miles,Other,1998-01-01,2010-07-01,2013-04-01,678853106,10,False
5363,49630.18,1,26,9,1997,emt,M,Hispanic,Acute Care Hospitals,Proprietary,...,Modesto,CA,>10 miles,Other,2017-01-31,2017-10-01,2020-02-01,810960945,7,False
5364,38764.38,1,10,44,1987,nurse,F,White,Acute Care Hospitals,Physician,...,Phoenix,AZ,5-10 miles,Professional Certificate,2012-01-01,2015-09-01,None,54763409,21,False
5365,78421.76,1,41,120,1986,nurse,F,Black,Childrens,Voluntary non-profit - Other,...,Cleveland,OH,2-5 miles,Other,2008-01-31,2018-01-01,None,344356384,15,False

In [14]:
print(df.isnull().sum())

SALARY                     0
SENIORITY                  0
TENURE_MONTHS              0
MONTHS_AFTER_COLLEGE       0
BIRTH_YEAR                 0
MAPPED_ROLE_CLEAN          0
SEX                        0
ETHNICITY                  0
HOSPITAL_TYPE              0
HOSPITAL_OWNERSHIP         0
COMPANY_NAME               0
CITY                       0
STATE                      0
DISTANCE                   0
DEGREE_CLEAN               0
SCHOOL_ENDDATE             0
JOB_STARTDATE              0
JOB_ENDDATE             1610
USER_ID                    0
OVERTIME_HOURS             0
CHURN                      0
dtype: int64

In [15]:
# Function to generate synthetic data
def generate_synthetic_data(original_data, n_samples):
    synthetic_data = original_data.copy()
    
    for _ in range(n_samples):
        # Randomly select an existing row
        random_row = original_data.sample()

In [17]:
# Create a new row with slight modifications
new_row = random_row.copy()
new_row['SALARY'] += np.random.randint(-5000, 5000)  # Example of adding noise
new_row['TENURE_MONTHS'] += np.random.randint(-1, 1)

NameError: name 'random_row' is not defined